.grid-announcements {
    display: grid;
    gap: 3px;
    grid-template: repeat(5 , 1fr) / 1fr 2fr;
    margin: 5% 10%;
}

.grid-item {
    align-items: center;
    background-color: gainsboro;
    color: black;
    font-size: calc(1rem + 1vw);
    text-align: left;
}

@media screen and (min-width: 768px){
    
    .grid-announcements {
        display: grid;
        gap: 4px;
        grid-template: repeat(5 , 150px) / 1fr 2.5fr;
        margin: 5% 10%;
    }
}

@media screen and (min-width: 1024px) {

    .grid-announcements {
        display: grid;
        gap: 8px;
        grid-template: repeat(5 , 150px) / 1fr 3.5fr;
        margin: 5% 20%;
    }
}